html {
  --color-navy: #001f3f;
  --color-blue: #0074D9;
  --color-aqua: #7FDBFF;
  --color-teal: #39CCCC;
  --color-olive: #3D9970;
  --color-gray: #AAAAAA;
  --color-silver: #DDDDDD;
  --color-yellow: #FFDC00;

  --color-background: rgb(250 250 249);
  --color-off-white: rgb(248 250 252);
}
