@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 400;
  font-style: normal;
  src: url('Atkinson-Hyperlegible-Regular-102.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-style: normal;
  src: url('JetBrainsMono-Regular.woff2') format('woff2');
}
