@import "fonts";
@import "colors";
@import "balloon";

html, body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: var(--color-background);
}

a {
  color: currentColor;
  font-weight: bolder;
}

code {
  font-family: "JetBrains Mono", monospace;
}

main {
  section {
    display: flex;
    justify-content: center;
    padding: 2rem .5rem;
  }

  section:nth-child(2), section:nth-child(4), section:nth-child(6) {
    color: white;
    background-color: var(--color-olive);
  }

  section:nth-child(5) {
    background-color: var(--color-yellow);
  }

  article {
    width: 40rem;
    max-width: 100%;
    text-align: justify;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
  }
}

aside.links-container {
  display: flex;
  flex-direction: column;
  width: 60px;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;

  a[href*="github"] {
    padding: 10px;
  }

  img {
    max-width: 100%;
  }
}
