<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Problem Details - A Standardized Structure For API Errors</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<main>
  {% block body %}{% endblock body %}
</main>

<aside class="links-container">
  <a href="https://github.com/jonstodle/problem-details" aria-label="Source code on Github" data-balloon-pos="left">
    <img src="/github.png" alt="Visit Github repository">
  </a>

  <a href="https://ko-fi.com/jonstodle" aria-label="Support me on Ko-fi" data-balloon-pos="left">
    <img src="/kofi.png" alt="Support me on Ko-fi">
  </a>
</aside>
</body>
</html>
